body {
    background-color: #f0f8ff;
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 1rem;
}

header, main, footer {
    margin-bottom: 2rem;
}

h1 {
    color: #00008B;
    text-align: center;
}

h2 {
    color: #003366;
}

p {
    font-size: 18px;
    text-align: justify;
}

ul li {
    margin-bottom: 10px;
}

img {
    border-radius: 10px;
    width: 300px;
    height: auto;
    display: block;
    margin: 1rem auto;
}

table {
    border-collapse: collapse;
    border: 1px solid black;
    width: 100%;
    max-width: 400px;
    margin: 1rem auto;
}

th, td {
    border: 1px solid black;
    padding: 8px;
    text-align: center;
}

th {
    background-color: #f2f2f2;
}

a {
    color: blue;
}

a:hover {
    color: red;
}

button {
    display: block;
    margin: 1rem auto;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    max-width: 400px;
    width: 100%;
    box-sizing: border-box;
}

#message {
    text-align: center;
    margin-top: 1rem;
    font-weight: bold;
}

/* Ajustes para alinhamento dos títulos */
.aligned-title {
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    width: 400px;
}
